<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/index.css">   
     <title>Document</title>
</head>
<body>
    <p id="box">
        dsadsads
        <b>sdadsd</b>
    </p>
    hello gulp 哈哈ss
    dasdadad
    sds
    @@include('./ss.html', { "title": "222" })
</body>
    <script>
       document.body.innerHTML = 55
        var aa = 9784649897897897898978
        document.querySelector("#box").innerHTML = ` dsdadsadsdsadas${aa}dasdss`
    </script>
    <script src="../js/index.js"></script>
</html>